@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html,
    body,
    #root {
        position: relative;
        height: 100%;
        width: 100%;
    }

    * {
        box-sizing: border-box;
        font-size: 14px;
    }
}

@layer components {
    /* Button Styling */
    .btn {
        @apply flex h-12 items-center justify-center space-x-2 whitespace-nowrap rounded-sm px-4 transition-all hover:cursor-pointer;
    }

    .btn-text {
        @apply flex-grow text-left text-base font-medium;
    }

    .btn-icon {
        @apply flex-shrink before:text-sm before:text-inherit;
    }

    .btn-primary {
        @apply bg-brand-700 text-white hover:bg-brand-700;
    }

    .btn-secondary {
        @apply bg-base-200 text-brand-600 hover:bg-base-100;
    }

    .btn-light {
        @apply bg-base-100 text-base-800 hover:bg-base-200;
    }

    .btn-white {
        @apply bg-white text-base-700 hover:bg-base-100;
    }
}


@layer utilities {
    /* Layer Styling */
    .layer {
        @apply absolute inset-0 overflow-hidden;
    }

    .clamp {
        @apply w-[95vw] max-w-sm;
    }
}

.maplibregl-popup-content, .mapboxgl-popup-content {
    padding: 0 !important;
}

.mapboxgl-control-container {
    display: none;
}
